.bgImage {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../../assets/images/estrela.jpeg) center center / cover;
    min-height: 100vh;
    display: flex;
    display: center;
    max-height: auto; /*se quiser margem branca*/
}

button:hover {
  background-color: white !important;
  color: rgb(66, 82,175)!important;
}
