<div class="container-fluid py-4">
  <div class="row text-center justify-content-center">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <mat-form-field class="text-center">
        <input class="py-1" matInput (keyup)="applyFilter($event.target.value)" placeholder="Search-bar">
      </mat-form-field>
    </div>
  </div>
  <div class="row text-center justify-content-center">
    <div class="col-xl-2col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <mat-spinner *ngIf="showSpinner"></mat-spinner>
    </div></div>
</div>

<!-- PEOPLE TABLE -->
<div *ngIf="people.length > 0" class="container-fluid pt-1 pb-2">
  <div class="row text-center justify-content-center">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <i class="text-success far fa-user fa-3x"></i>
      <h1 class="text-white">People</h1>
    </div>
  </div>

  <div class="row justify-content-center text-left">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort class="table table-hover">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let people"> {{people.name}} </td>
        </ng-container>

        <!-- Heigh Column -->
        <ng-container matColumnDef="height">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Height </th>
          <td mat-cell *matCellDef="let people"> {{people.height}} </td>
        </ng-container>

        <!-- Mass Column -->
        <ng-container matColumnDef="mass">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Mass </th>
          <td mat-cell *matCellDef="let people"> {{people.mass}} </td>
        </ng-container>

        <!-- Hair Color Column -->
        <ng-container matColumnDef="hair_color">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Hair Color </th>
          <td mat-cell *matCellDef="let people"> {{people.hair_color}} </td>
        </ng-container>

        <!-- Skin Color Column -->
        <ng-container matColumnDef="skin_color">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Skin Color </th>
          <td mat-cell *matCellDef="let people"> {{people.skin_color}} </td>
        </ng-container>

        <!-- Gender Column -->
        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
          <td mat-cell *matCellDef="let people"> {{people.gender}} </td>
        </ng-container>

        <!-- Birht of Birth Column -->
        <ng-container matColumnDef="birth_year">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Birth of Year </th>
          <td mat-cell *matCellDef="let people"> {{people.birth_year}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row (click)="detailPeople(row)" *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
      <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>


<!-- PLANETS TABLE -->
<div *ngIf="planets.length > 0" class="container-fluid">
  <div class="row text-center justify-content-center">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <i class="text-warning fas fa-globe-americas fa-3x"></i>
      <h1 class="text-white">Planets</h1>
    </div>
  </div>

  <div class="row justify-content-center text-left">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort class="table table-hover">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let planet"> {{planet.name}} </td>
        </ng-container>

        <!-- Terrain Column -->
        <ng-container matColumnDef="terrain">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Terrain </th>
          <td mat-cell *matCellDef="let planet"> {{planet.terrain}} </td>
        </ng-container>

        <!-- Population Column -->
        <ng-container matColumnDef="population">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Population </th>
          <td mat-cell *matCellDef="let planet"> {{planet.population}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedPlanetColumns"></tr>
        <tr mat-row (click)="detailPlanet(row)" *matRowDef="let row; columns: displayedPlanetColumns;"></tr>
      </table>

      <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>

    </div>
  </div>
</div>

<!-- MOVIE TABLE -->
<div *ngIf="movies.length > 0" class="container-fluid">
  <div class="row text-center justify-content-center">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <i class="text-danger fas fa-film fa-3x"></i>
      <h1 class="text-white">Movies</h1>
    </div>
  </div>

  <div class="row justify-content-center text-left">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort class="table table-hover">

        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
          <td mat-cell *matCellDef="let movie"> {{movie.title}} </td>
        </ng-container>

        <!-- Producer Column -->
        <ng-container matColumnDef="producer">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Producer </th>
          <td mat-cell *matCellDef="let movie"> {{movie.producer}} </td>
        </ng-container>

        <!-- Director Column -->
        <ng-container matColumnDef="director">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Director </th>
          <td mat-cell *matCellDef="let movie"> {{movie.director}} </td>
        </ng-container>

        <!-- Release Date Column -->
        <ng-container matColumnDef="release_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Release Date </th>
          <td mat-cell *matCellDef="let movie"> {{movie.release_date}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedMovieColumns"></tr>
        <tr mat-row (click)="detailMovie(row)" *matRowDef="let row; columns: displayedMovieColumns;"></tr>
      </table>

      <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>

    </div>
  </div>
</div>