<h2 class="text-center"><span class="white-border">Planet:</span> {{planet.name}}</h2>
<form>
    <div class="container-fluid justify-content-center">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-7 col-sm-9 col-xs-12">
                <div class="form-group">
                    <label for="formGroupExampleInput">Terrain:</label>
                    <input type="text" class="form-control"  placeholder="{{planet.terrain}}" disabled="disabled">
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-7 col-sm-9 col-xs-12">
                <div class="form-group">
                    <label for="formGroupExampleInput">Population:</label>
                    <input type="text" class="form-control" 
                        placeholder="{{planet.population}}" disabled="disabled">
                </div>
            </div>
        </div>
    </div>
</form>